.form-container {
padding-bottom: 100px ;
}


.edit-imgContainer{
    margin-top: 25px;
width: 100%;
display: flex;
justify-content: center;
align-items: center;
}

.edit-img{
    width: 10vw;
    max-width: 200px;
    border-radius: 110px;
}