.papa{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    max-width: 2000px;
    margin: 0 auto;
}

.papa .wrapA{
width: 50%;
display: flex;
justify-content: center;
align-items: center;
max-width: 2000px;
margin: 0 auto;
color: black;
background-color: #99c8c2; 
font-size: 1.2rem;
padding: 20px 0 20px 20px;
}


 @media screen and (max-width:900px){
    .papa .wrapA{
    background-color: blue;
    }
} 