.grid-cards{
    display: grid;
    grid-template-columns: repeat(5, auto);
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
}


@media screen and (max-width:1850px) {
    .grid-cards{
        grid-template-columns: repeat(4, auto);
    }

}
@media screen and (max-width:1500px) {
    .grid-cards{
        grid-template-columns: repeat(3, auto);
    }

}

@media screen and (max-width:1150px) {
    .grid-cards{
        grid-template-columns: repeat(2, auto);
    }

}

@media screen and (max-width:750px) {
    .grid-cards{
        grid-template-columns: repeat(1, auto);
    }

}

@media screen and (max-width:600px) {
    .grid-cards{
        grid-template-columns: repeat(1, auto);
    }  

}