.homeContainer{
    width: 100%;
    max-width: 2000px;
    margin: 0 auto;
    min-height: 70vh;
}

.homeBtnWrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0 70px 0;
    margin: 0 auto;
    gap: 11vw;
}

/* .homeSpan{
font-weight: bold;
font-size: 1.3rem;
} */

.homeBtn{
    width: 140px;
    padding: 7px 15px;
    border-radius: 15px;
    font-size: 1em;
    font-weight: bold;
    border-color: transparent;
    background-color:#99c8c2;
    color: white;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.homeBtn:hover{
transform: scale(1.1);
border: 2px solid black;
}

@media screen and (max-width:1950px){
.homeBtnWrapper{
    gap: 9vw;
}
}

@media screen and (max-width:1600px){
.homeBtnWrapper{
    gap: 6vw;
}
}

@media screen and (max-width:1200px){
.homeBtnWrapper{
    gap: 2vw;
}
}

@media screen and (max-width:1000px){
.homeBtnWrapper{
    gap: 20px;
}
}

@media screen and (max-width:850px){
    .homeBtnWrapper {
        flex-direction: column;
        padding: 30px 0 45px 0;
    }
    .homeBtn{
        width: 260px;
    }
    .homeBtn:hover{
        transform: scale(1.02);
        border: 2px solid black;
        }
}
