
.header{
 display: flex;
 justify-content: center;
 align-items: center;
/* background-color: #fff; */
}

.header > h1 {
    padding: 10px;
    font-size: 3rem;
    font-weight: 400;
}

.first-wrapper{
    width: 98vw;
    height: 50vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* background-color: #93ff60; */
}

.img-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width:49vw;
    height: 100%;
    /* background-color: #eb5d5d; */
}
.img{
    width: 95%;
    height: 95%;
}

.btnsPrice-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width:49vw;
    height: 100%;
    /* background-color: #67d3fd; */
}

.priceDiscount-container{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

.btns-container{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.price, .discount{
    font-size: 1.5em;
}

.btn {
    width: 100%;
    padding: 7px;
    border-radius: 7px;
    border: none;
    font-size: 1.5em;
   transition: all 0.1s ease-in;
}

.btn:hover {
    cursor: pointer;
   background-color: antiquewhite;
   transform: scale(1.01);
}


.second-wrapper{
    width: 98vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    gap: 20px;
    /* background-color: rgba(203, 252, 253, 0.815); */
}