.container-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 10px;
} 

.card{
    width: 30vw;
    transition: all 0.2s ease-in-out !important;
}

.card:hover{
    transform: scale(1.02);
    cursor: text;
}

.card-wrapper{
    text-align: center;
}

.main-headline{
    font-size: 1.7rem;
   padding: 15px 0px;
    color: darkgoldenrod;
}

.sec-headline{ 
padding: 5px 0px;
}
