.grid-cards{
    display: grid;
    grid-template-columns: repeat(5, auto);
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
}

.container-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 10px;
} 

.card{
    width: 345px;
    transition: all 0.2s ease-in-out !important;
}

.card:hover{
    transform: scale(1.02);
    cursor: text;
}

.card-wrapper{
    text-align: center;
}

.main-headline{
    font-size: 1.7rem;
   padding: 5px 0px;
    color: black;
}

@media screen and (max-width:1850px) {
    .grid-cards{
        grid-template-columns: repeat(4, auto);
    }

}
@media screen and (max-width:1500px) {
    .grid-cards{
        grid-template-columns: repeat(3, auto);
    }

}

@media screen and (max-width:1150px) {
    .grid-cards{
        grid-template-columns: repeat(2, auto);
    }

}

@media screen and (max-width:750px) {
    .grid-cards{
        grid-template-columns: repeat(1, auto);
    }

}

@media screen and (max-width:600px) {
    .grid-cards{
        grid-template-columns: repeat(1, auto);
    }  

}